<style type="text/css">
    {% include "erpnext/accounts/print_format/receipt_print_format/receipt_print_format.css" %}
</style>
    
{% set company = frappe.get_doc("Company", doc.company) %}
{% set customer = frappe.get_doc("Customer", doc.customer) %}
{% set payment_entries = frappe.get_all('Payment Entry Reference', filters={'reference_name': doc.name}, fields=['parent']) %}
{% if company.custom_account_name %}
{% set bank_account = frappe.get_doc("Bank Account",company.custom_account_name)%} 

{% endif %}
{% set pr = [1] %}
{% set lines = [0] %}
{% set items_per_page = 6 %}

{% macro above_items() %}
    <div class="header">
       <div class="logo">
            {% if company.company_logo %}
                <img src="{{ company.company_logo }}" alt="Company Logo" width="180" height="180">
            {% endif %}
        </div><div class="company-details">
            {% if company %}
            <h2><strong>{{ company.name.upper() }}</strong></h2>
            <p>{{ company.custom_street_no or "" }}, {{ company.custom_address_line_1 or "" }}</p>
            <p>{{ company.custom_address_line_2 or "" }}</p>
            <p>{{ (company.custom_postal_code or "") }} {{ (doc.custom_company_city or "").upper() }}</p>
            <p>{{ (doc.custom_company_state or "").upper() }}</p>
            <p>Email: {{ company.custom_email_address or "" }}</p>
            <p>Phone: {{ company.custom_contact_number or "" }}</p>
            
            {% endif %}
        </div>
    </div>
    
    <hr class="divider"/>
    
    <div class="invoice-info">
        <div>
            <p><strong>Registration No.:</strong> {{ company.custom_business_registration_no }}</p>
            <p><strong>Income Tax No. (TIN):</strong> {{ company.custom_business_tin_no }}</p>
            <p><strong>SST No.:</strong> {{ company.custom_sst_reg_no or "N/A" }}</p>
            <p><strong>MSIC Code:</strong> {{ company.custom_msic_code or "N/A" }}</p>
        </div><div>
            <p><strong>Official Receipt No.:</strong> {{ doc.name }}</p>
            <p><strong>Date:</strong> {{ frappe.utils.formatdate(doc.posting_date) }}</p>
            <p><strong>Currency:</strong> {{ doc.currency or "MYR" }}</p>
        </div>
    </div>
    <div class="invoice-to">
    <div class="customer-details">
        {% if customer %}
            <p><strong>Buyer:</strong>
            <p><strong>Name:</strong> {{ customer.customer_name }}</p>
            <p><strong>Registration No.:</strong> {{ customer.custom_business_registration_number or "" }}</p>
        {% endif %}
    </div><div>
        <h1><strong>Official Receipt</strong></h1>
    </div>
    </div>
    
    {% endmacro %}
    
    {% macro below_items() %}
    <div class="bank-and-totals">
        <div class="bank-details">
            
        </div><div class="totals-box">
            <table>
               
                <tr class="highlighted-total">
                    <td><strong>Total amount:</strong></td>
                    <td >RM {{doc.paid_amount}}</td>
                </tr>
               
            </table>
           
        </div>
    </div>
    <div class="total-words"> <p><strong><i>{{frappe.utils.money_in_words(doc.paid_amount,"Ringgit")}} </i></strong></p></div>
    
   <div class="no-page-break" id="footer-html">
    <div class="contact-info">
        Thank you for your business! <br>
        We appreciate your trust in {{ company.name }}. If you have any questions or need assistance, feel free to contact us at {{company.custom_email_address}}<br>
        <hr>
        This official receipt is computer-generated and does not require a signature.
        <hr>
    </div>
    
       
    
   </div>

    
    {% endmacro %}
    
    {# --- Render Above Section --- #}

    
    {{ above_items() }}
                <table class="invoice-table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Description</th>
                            <th>Total Amount</th>
                        </tr>
                    </thead>
                    <tbody>
              
    
                <tr>
                    <td>1</td>
                    <td>{{ doc.custom_sales_invoice_single }}</td>
                    <td>RM {{doc.paid_amount }}</td>
                </tr>
                
             
                
   
        </tbody>
    </table>
    {{ below_items() }}
    {# --- Render Footer Only Once --- #}
    